.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin: 15px auto;
}


.flex-row {
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}


body {
    background: #262626;
}


h1 {
    font-family: 'Monoton', cursive;
    font-size: 55px;
    line-height: 150%;
    text-align: center;
    color: #E0E0CE;
}


.button-style {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 130%;
    padding: 5px;
    margin: 5px;
    border-radius: 3px;
    border-width: 1px;
    border: 1px solid #727272;
    background: #675C72;
    color: #E0E0CE;
}


.button-style:hover {
    background: #47404F;
}


.button-style:focus {
    outline: 0;
}


.gif-card {
    position: relative;
    width: 240px;
    height: 240px;
    margin: 15px;
    background: #727272;
    border-radius: 5px;
}


.gif-card-footer {
    position: absolute;
    bottom: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 130%;
    margin: 10px;
    color: #E0E0CE;
}


.gif-card img {
    width: 220px;
    max-height: 200px;
    margin: 10px auto;
    border-radius: 5px;
    display: block;
}
